<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.chapter1.dao.StudentRepository">

	<resultMap id="BaseResultMap" type="com.zjw.chapter1.bean.Student">
		<id column="ID" property="studentId" />
		<result column="NAME" property="name" />
		<result column="CLASSID" property="clasId" />
	</resultMap>
	
	<resultMap id="WithClasResultMap" type="com.zjw.chapter1.bean.Student">
		<id column="ID" property="studentId" />
		<result column="NAME" property="name" />
		<result column="CLASSID" property="clasId" />
		<result column="CLASSNAME" property="clasName"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,
		NAME,
		CLASSID
	</sql>
	
	<select id="getAllStudent" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from STUDENT
	</select>
	
	<select id="getAllStudentWithClas" resultMap="WithClasResultMap">
		select
		s.id,s.name,s.classId,c.className
		from STUDENT s
		left join clas  c
		on s.classId = c.classId
	</select>

	<select id="getById" resultMap="BaseResultMap" parameterType="Integer">
		select 
		<include refid="Base_Column_List" />
		from student 
		where ID = #{id}
	</select>

	<insert id="addOne" parameterType="com.zjw.chapter1.bean.Student">
		insert into student 
		(id,NAME,CLASSID)
		VALUES
		(#{studentId},#{name},#{clasId})
	</insert>
	
	<update id="updateById"  parameterType="com.zjw.chapter1.bean.Student">
		update　student
		  <trim prefix="set" suffixOverrides=",">
		  	<if test="NAME !=null">
		  		NAME = #{name},
		  	</if>
		  	<if test="CLASSID !=null">
		  		CLASSID = #{clasId},
		  	</if>
		  	</trim>
		  where ID = #{studentId}
	</update>
	
	<delete id="deleteById" parameterType="Integer">
		delete from student
		where ID= #{studentId}
	</delete>
</mapper>